HELP.md
!.mvn/wrapper/maven-wrapper.jar
/target/maven-status/
/target/classes/static/
/target/classes/jweb
/target/classes/META-INF

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Eclipse ###

.settings/
bin/
tmp/
.metadata
.classpath
.project
