table{

    font-family: "nunito";
    border-spacing: 0px;
    border: var(--table-border);
    background: var(--tertiary-background-color);
}

/* Header Styling */
th{
    background-color: var(--accent-color);
    border: var(--table-border);
    padding: 2px;
    padding-top: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: large;
    font-weight: bolder;
    font-family: "merriweather";
}

/* Cell Styling */
td{
    border: var(--table-border);
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

td:nth-child(3){
    text-align: center;
}

td:nth-child(5){
    text-align: center;
    width: 120px;
}

td:nth-child(7){
    text-align: center;
    width: 100px;
}