html,
body {
  width: 100%;
  height: 99%;
}

.grid {
  display: grid;
  grid-template-columns: 20px 1fr repeat(9, 100px) 1fr 20px;
  grid-template-rows: repeat(13, 1fr);
}

main {
  grid-row: 2/13;
  grid-column: 2/13;
}

body {
  background-color: rgb(75, 92, 97);
  margin: 0;
}
