.previewPane {
    display: flex;
    flex-direction: column;
    align-content: start;
    border-radius: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: #F8B500;
    background: #a0a0a0;
    width:325px;
    height: 400px;
    margin: 25px;
}

.previewPane:hover {
    background-color: #696868;
    transition: 0.5s;

}

.bookElementSection {
    display: inline-block;
}

span {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 11px;
    text-align: left;
    text-overflow: ellipsis;
}

.elementName {
    margin-left: 11px;
    margin-right: 0;
}

.firstLine {
    margin-top: 15px;
}

.lastLine {
    flex-grow: 1;
}

#idField {
    font-size: 10px;
    text-align: center;
}